In [19]:
import pandas as pd

In [20]:
tweets = pd.read_csv('../data/tweets-dataset-limpo.csv')
casos = pd.read_csv('../data/casos-por-bairro-limpo.csv')
clima = pd.read_csv('../data/dados-climaticos-limpo.csv')

In [64]:
casos.head()

    bairro  doenca         dia  populacao
0  TAQUARA  Dengue  2015-09-17     102126
1  TAQUARA  Dengue  2015-04-06     102126
2  TAQUARA  Dengue  2015-08-17     102126
3  TAQUARA  Dengue  2015-08-17     102126
4  TAQUARA  Dengue  2015-02-28     102126

In [69]:
casos_zika_por_bairro = casos[casos['doenca'] == 'Zika']['bairro'].value_counts()

In [23]:
populacao_por_bairro = casos[['bairro', 'populacao']].drop_duplicates()

In [24]:
populacao_por_bairro.head()

         bairro  populacao
0       TAQUARA     102126
1957   REALENGO     180123
6893      IRAJA      96382
8899  MADUREIRA      50106
9875     PAVUNA      97350

In [40]:
populacao_por_bairro = pd.Series(populacao_por_bairro['populacao'].tolist(),index=populacao_por_bairro['bairro'].tolist())

In [45]:
casos_zika_por_bairro_normalizado = casos_zika_por_bairro / populacao_por_bairro

In [80]:
casos_zika_por_bairro_normalizado = casos_zika_por_bairro_normalizado.sort_values().dropna().drop_duplicates().drop('BRAS DE PINA')

In [82]:
casos_zika_por_bairro_normalizado

VILA DE PENHA               0.000079
RECREIO DOS BANDEIRANTES    0.000085
CAVALCANTI                  0.000496
PARQUE COLUMBIA             0.000761
MARIA DA GRACA              0.001129
JOA                         0.001222
VILA MILITAR                0.001289
LEBLON                      0.001303
JACAREZINHO                 0.001348
PARQUE ANCHIETA             0.001717
RICARDO DE ALBUQUERQUE      0.001774
LAGOA                       0.001981
SAO CONRADO                 0.002004
ITANHANGA                   0.002135
GAVEA                       0.002187
FLAMENGO                    0.002358
VILA KOSMOS                 0.002408
LARANJEIRAS                 0.002503
BANGU                       0.002665
SENADOR CAMARA              0.002692
JARDIM BOTANICO             0.002832
JACAREPAGUA                 0.002854
IPANEMA                     0.002901
MANGUINHOS                  0.002904
BARRA DA TIJUCA             0.002921
TODOS OS SANTOS             0.002921
COSME VELHO                 0.002926
CAMPO DOS AFONSOS           0.002930
TAUA                        0.003179
PRACA DA BANDEIRA           0.003233
                              ...
PRACA SECA                  0.009806
VIDIGAL                     0.010315
SANTA TERESA                0.010629
RIO COMPRIDO                0.010671
PACIENCIA                   0.010716
TAQUARA                     0.010722
CAJU                        0.010744
JACARE                      0.011320
SAO FRANCISCO XAVIER        0.011387
SAMPAIO                     0.011840
CENTRO                      0.012129
ESTACIO                     0.012392
ANIL                        0.012577
SAO CRISTOVAO               0.013014
ROCINHA                     0.013121
GUARATIBA                   0.013867
VARGEM GRANDE               0.014104
GARDENIA AZUL               0.014620
CATUMBI                     0.014973
BONSUCESSO                  0.015285
VISTA ALEGRE                0.017049
CURICICA                    0.017186
ZUMBI                       0.017857
SANTO CRISTO                0.018005
SEPETIBA                    0.019443
COSTA BARROS                0.019865
CAMORIM                     0.020305
PEDRA DE GUARATIBA          0.036046
BARRA DE GUARATIBA          0.039419
PAQUETA                     0.043142
dtype: float64