In [1]:
import pandas as pd

In [64]:
mosquito = pd.read_csv('Mosquito.Borne.Disease.csv')

/home/joaomarcosgris/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
mosquito.head()

,Unnamed: 0,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,NU_LOTE_V,NU_LOTE_H,CS_FLXRET,FLXRECEBI,IDENT_MICR,MIGRADO_W,TP_SISTEMA,latitude,longitude,NM_DISEASE
0,1,A90,2015-09-17,37,2015,33,330455,NaN,2296608.0,2015-08-26,...,NaN,NaN,1,NaN,4.0,NaN,2.0,-22.925318,-43.388889,Dengue
1,2,A90,2015-05-15,19,2015,33,330455,NaN,7722494.0,2015-05-10,...,NaN,NaN,0,NaN,4.0,NaN,2.0,-22.872878,-43.425393,Dengue
2,3,A90,2015-08-14,32,2015,33,330455,NaN,2291266.0,2015-08-08,...,NaN,NaN,1,NaN,4.0,NaN,2.0,-22.826738,-43.329702,Dengue
3,4,A90,2015-08-18,33,2015,33,330455,NaN,3134822.0,2015-06-19,...,NaN,NaN,0,NaN,4.0,NaN,2.0,-22.879648,-43.339151,Dengue
4,5,A90,2015-08-18,33,2015,33,330455,NaN,3134822.0,2015-06-18,...,NaN,NaN,1,NaN,4.0,NaN,2.0,-22.814463,-43.380845,Dengue

In [66]:
dados_uteis = mosquito[['NM_BAIRRO', 'NM_DISEASE', 'DT_NOTIFIC']]

In [67]:
dados_uteis.head()

   NM_BAIRRO NM_DISEASE  DT_NOTIFIC
0    TAQUARA     Dengue  2015-09-17
1   REALENGO     Dengue  2015-05-15
2      IRAJA     Dengue  2015-08-14
3  MADUREIRA     Dengue  2015-08-18
4     PAVUNA     Dengue  2015-08-18

In [68]:
dados_uteis = dados_uteis.dropna()

In [69]:
dados_uteis.columns = ['bairro', 'doenca', 'dia']

In [70]:
dados_uteis

                      bairro       doenca         dia
0                    TAQUARA       Dengue  2015-09-17
1                   REALENGO       Dengue  2015-05-15
2                      IRAJA       Dengue  2015-08-14
3                  MADUREIRA       Dengue  2015-08-18
4                     PAVUNA       Dengue  2015-08-18
5               OSWALDO CRUZ       Dengue  2015-08-12
6               BRAS DE PINA       Dengue  2015-06-29
7                VILA ISABEL       Dengue  2015-06-23
8                     TIJUCA       Dengue  2015-06-05
9                     TIJUCA       Dengue  2015-06-19
10                 PACIENCIA       Dengue  2015-05-25
11                   INHAUMA       Dengue  2015-05-27
12                   INHAUMA       Dengue  2015-05-27
13                  CAMPINHO       Dengue  2015-05-27
14                  REALENGO       Dengue  2015-05-27
15                   INHAUMA       Dengue  2015-05-27
16               VILA ISABEL       Dengue  2015-05-27
17                MANGUINHOS       Dengue  2015-05-26
18              PADRE MIGUEL       Dengue  2015-05-05
19        COMPLEXO DO ALEMAO       Dengue  2015-05-27
20                 GUARATIBA       Dengue  2015-05-21
21            VILA VALQUEIRE       Dengue  2015-05-27
22              PADRE MIGUEL       Dengue  2015-05-13
23             ROCHA MIRANDA       Dengue  2015-05-27
24                     PAIOL       Dengue  2015-05-18
25                   VIDIGAL       Dengue  2015-05-21
26            JARDIM SULACAP       Dengue  2015-05-24
27               JACAREZINHO       Dengue  2015-02-26
28               JACAREZINHO       Dengue  2016-02-23
29           JARDIM BOTANICO       Dengue  2015-09-26
...                      ...          ...         ...
110256         JARDIM JUREMA  Chikungunya  2016-10-05
110257          CAMPO GRANDE  Chikungunya  2016-10-10
110258               PAQUETA  Chikungunya  2016-10-05
110259               PAQUETA  Chikungunya  2016-10-05
110260              BOTAFOGO  Chikungunya  2016-10-14
110261               TAQUARA  Chikungunya  2014-11-28
110263            COPACABANA  Chikungunya  2014-12-05
110264            COPACABANA  Chikungunya  2014-12-29
110265  RECREIO BANDEIRANTES  Chikungunya  2014-12-19
110266         FREGUESIA-JPA  Chikungunya  2015-11-27
110267         FREGUESIA-JPA  Chikungunya  2015-11-27
110268         FREGUESIA-JPA  Chikungunya  2015-11-27
110269             CASCADURA  Chikungunya  2015-12-11
110270                TIJUCA  Chikungunya  2015-12-11
110271         FREGUESIA-JPA  Chikungunya  2015-11-27
110272         FREGUESIA-JPA  Chikungunya  2015-11-27
110273                TIJUCA  Chikungunya  2015-11-12
110274              FLAMENGO  Chikungunya  2015-11-10
110275       BARRA DA TIJUCA  Chikungunya  2015-11-27
110276              BOTAFOGO  Chikungunya  2015-12-23
110277          BARROS FILHO  Chikungunya  2015-11-30
110278       TODOS OS SANTOS  Chikungunya  2015-12-22
110279                TIJUCA  Chikungunya  2015-12-17
110280               ROCINHA  Chikungunya  2015-12-17
110281            MANGUINHOS  Chikungunya  2015-12-16
110282          RIO COMPRIDO  Chikungunya  2015-12-02
110283            SANTA CRUZ  Chikungunya  2015-12-04
110284               HUMAITA  Chikungunya  2015-12-07
110285   SENADOR VASCONCELOS  Chikungunya  2015-12-30
110286    PEDRA DE GUARATIBA  Chikungunya  2015-12-04

[108712 rows x 3 columns]

In [71]:
populacao_por_bairro = pd.read_csv('populacao-por-bairro.csv')

In [72]:
from unidecode import unidecode

In [73]:
populacao_por_bairro['bairro'] = populacao_por_bairro['bairro'].apply(unidecode)

In [74]:
populacao_por_bairro['bairro']

0                  Campo Grande
1                         Bangu
2                    Santa Cruz
3                      Realengo
4                        Tijuca
5                   Jacarepagua
6                    Copacabana
7               Barra da Tijuca
8              Complexo da Mare
9                     Guaratiba
10               Senador Camara
11                      Taquara
12                       Pavuna
13                        Iraja
14                    Paciencia
15                  Vila Isabel
16                     Botafogo
17     Recreio dos Bandeirantes
18                        Penha
19                       Cosmos
20                 FreguesiaJPA
21                      Rocinha
22           Complexo do Alemao
23                      INHAUMA
24                 Padre Miguel
25                   Praca Seca
26                 Bras de Pina
27                       Olaria
28                     Sepetiba
29                     Anchieta
                 ...
130                     Deodoro
131                    Campinho
132                      Gloria
133          Pedra de Guaratiba
134           Alto de Boa Vista
135                      Jacare
136             Parque Columbia
137                       Rocha
138                  agua Santa
139           Praca da Bandeira
140                Vista Alegre
141        Sao Francisco Xavier
142              Maria da Graca
143                 Cosme Velho
144                        Urca
145                      Monero
146             Engenheiro Leal
147           Praia de Bandeira
148                 Cidade Nova
149                      CocotA
150          Barra de Guaratiba
151                     Ribeira
152                     PaquetA
153                       SaUde
154                       Zumbi
155                     Camorim
156        Cidade UniversitAria
157           Campo dos Afonsos
158                         Joa
159                     Grumari
Name: bairro, dtype: object

In [75]:
populacao_por_bairro['bairro'] = populacao_por_bairro['bairro'].str.upper()

In [87]:
casos_por_bairro = dados_uteis.merge(populacao_por_bairro, how='inner', on='bairro')

In [41]:
tweets = pd.read_csv('2016-11-24_tweets_rj.csv')

In [43]:
tweets = tweets[['id', 'data_dia', 'numero']]

In [45]:
tweets.to_csv('tweets-dataset-limpo.csv')

In [89]:
casos_por_bairro.to_csv('casos-por-bairro-limpo.csv')

In [90]:
dados_climaticos = pd.read_csv('2016-11-07_clima_wu.csv')

In [92]:
dados_climaticos.head()

,temp_min,temp_max,temp_med,data_dia,umid_min,umid_med,umid_max,pressao_min,pressao_med,pressao_max,Estacao_wu_estacao_id,id
0,NaN,NaN,NaN,2015-10-28,NaN,NaN,NaN,NaN,NaN,NaN,SBAM,1
1,NaN,NaN,NaN,2015-10-28,NaN,NaN,NaN,NaN,NaN,NaN,SBAS,2
2,24.0,36.0,27.1364,2015-10-28,48.0,81.9545,100.0,1009.0,1012.73,1015.0,SBAT,3
3,23.0,28.0,25.5714,2015-10-28,66.0,79.1429,89.0,1014.0,1015.86,1018.0,SBAQ,4
4,17.0,26.0,21.7917,2015-10-28,61.0,80.2083,94.0,1015.0,1017.83,1019.0,SBAN,5

In [96]:
dados_climaticos = dados_climaticos[(dados_climaticos['Estacao_wu_estacao_id'] == 'SBRJ') | (dados_climaticos['Estacao_wu_estacao_id'] == 'SBGL')]

In [99]:
dados_climaticos = dados_climaticos.dropna()

In [100]:
dados_climaticos.to_csv('dados-climaticos-limpo.csv')